/* Drill 1 - Write your code solution below */



/* Drill 2 - Write your code solution below */



/* Drill 3 - Write your code solution below */



/* Drill 4 - Write your code solution below */



/* Drill 5 - Write your code solution below */

.orange p {
    color: limegreen;
}

.purple p {
    color: orangered;
}

.dashed p span {
    color: magenta;
}

.shadow p {
    background-color: skyblue;
}

.dog-days img {
    border-radius: 50%;
}