/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

.Takuji-Kawano h2 {
    border-style: outset;
    border-width: 5px;
    border-color: brown;
    background-color: tan;
    padding: 4px;
    margin: 24px 24px;
    display: inline-block;
    text-align: center;
    font-size: medium;
    width: 300px;
}

.kazuya {
    width: 125px;
    height: 100px;
    background-color: #B59B70;
    padding: 10px;
    border: 100px;
    display: inline-block;
}

.jin {
    width: 250px;
    height: 150px;
    background-color: #B59B70;
    padding: 10px;
    border: 100px;
    display: inline-block;
}

.heihachi {
    width: 125px;
    height: 100px;
    background-color: #B59B70;
    padding: 10px;
    border: 100px;
    display: inline-block;
}

/* .Takuji-Kawano h2 {
    border-style: outset;
    border-width: 5px;
    border-color: brown;
    background-color: tan;
    padding: 4px;
    margin: 24px 150px;
    display: block;
    text-align: center;
    font-size: medium;
    width: 300px;
} */