/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    background-color: yellow;
    display: inline-block;
    width: 250px;
    height: 200px;
    padding: 24px;
    margin: 24px;
    font-family: sans-serif;
}

#pink-lavender-post-it {
    background-color: pink;
}

#light-cyan-post-it {
    background-color: #9ee6f4;
}

#yellow-post-it {
    background-color: #ffff00;
}

#red-post-it {
    background-color: rgb(251, 57, 57);
}

#purple-post-it {
    background-color: rgb(187, 64, 187);
}

#green-post-it {
    background-color: rgb(102, 250, 102);
}