/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
#Pink-Lavender-post-it {
    background-color: #F7C8F0;
    padding: 50px;
    width: 150px;
    text-align: center;
    display: inline-block;
}

#Light-Cyan-post-it {
    background-color: #CAF0F8;
    padding: 50px;
    width: 150px;
    text-align: center;
    display: inline-block;
}