* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.Tekken-8 {
    background-color: #112332;
    color: white;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.SF6 {
    background-color: #000121;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.COTW {
    background-color: #ff7300;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

